@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

.margin, .services, .blog {
  padding: 50px 0;
  margin: 150px 0;
}

.gradient--blue, .offer, .header__page--photo {
  background: #375098;
  background: linear-gradient(90deg, #375098 0%, #056cbb 100%);
}

.button, .slider__box--text a {
  font-size: 1.6em;
  border-radius: 4px;
  display: inline-block;
}
.button__center {
  display: grid;
  justify-content: center;
  align-content: center;
}
.button__default {
  background: #375098;
  color: #ffffff;
  padding: 10px 25px;
  text-transform: capitalize;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border: 1px solid #304685;
}
.button__default:hover {
  background: #ebc22e;
  box-shadow: 0px 15px 20px rgba(228, 224, 18, 0.397);
  transform: translateY(-4px);
  border: 1px solid transparent;
}
.button__instagram {
  background: #375098;
  color: #ffffff;
  padding: 10px 25px;
  padding-left: 50px;
  border-radius: 4px;
  font-weight: bold;
  position: relative;
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.2);
}
.button__instagram > span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #1c294d;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.top-header > div {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  align-content: center;
  align-items: center;
}

.main-header > div {
  display: grid;
  grid-template-columns: 20% 80%;
  align-content: center;
  align-items: center;
}

.main__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

body {
  font-size: 62.5%;
  background: #f4f4f4;
  font-family: 'Nunito', sans-serif;
}

.top-header {
  background: #375098;
  padding: 15px;
}
.top-header h6 {
  font-size: 1.6em;
  color: #ffffff;
}
.top-header ul {
  font-size: 1.6em;
  text-align: right;
}
.top-header ul > li {
  list-style: none;
  display: inline-block;
}
.top-header ul > li > a {
  display: block;
  position: relative;
}
.top-header ul > li > a > i {
  position: absolute;
}
.top-header__info > li {
  margin-left: 20px;
}
.top-header__info > li > a {
  color: #ffffff;
  padding-left: 25px;
}
.top-header__info > li > a > i {
  top: 4px;
  left: 0;
}
.top-header__social > li > a {
  color: #ffffff;
  background: #1c294d;
  width: 30px;
  height: 30px;
}
.top-header__social > li > a > i {
  left: 7px;
  top: 6px;
}

.main-header {
  background: #ffffff;
  padding: 25px 0;
}

.menu {
  text-align: right;
}
.menu__item {
  display: inline-block;
  margin-left: 30px;
}
.menu__item--link {
  font-size: 2em;
  display: block;
  color: #375098;
}
.menu__item--link:hover {
  color: #4664bc;
}

.active {
  font-weight: bold;
}

.main__about {
  background: red;
}

.slider {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 25% 50% 25%;
}
.slider__photos {
  grid-column: 1 / span 3;
}
.slider__box {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.2);
  grid-column: 2;
  margin-top: -150px;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 4;
}
.slider__box--text {
  padding: 100px;
  text-align: center;
}
.slider__box--text img {
  max-width: 70px;
}
.slider__box--text h1 {
  font-size: 5em;
  color: #375098;
  margin-top: 30px;
  line-height: 55px;
}
.slider__box--text h2 {
  font-size: 3em;
  opacity: .4;
}
.slider__box--text p {
  font-size: 2em;
  line-height: 30px;
  opacity: .5;
}
.slider__box--text a {
  margin-top: 30px;
}
.slider__box figure img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: block;
  width: 100%;
  height: 100%;
}

.wave {
  display: block;
  width: 60px;
  margin: 30px auto;
}

.st0 {
  fill: none;
  stroke: #375098;
}

.slick-slider {
  position: relative;
}

.slick-arrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  font-size: 3em;
  opacity: .5;
  cursor: pointer;
}
.slick-arrow:hover {
  opacity: 1;
}

.slick-prev {
  left: 5%;
}

.slick-next {
  right: 5%;
}

.slick-dots {
  position: absolute;
  bottom: 18%;
  left: 50%;
  margin-left: -23px;
  list-style: none;
}
.slick-dots > li {
  display: inline-block;
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 360px;
}
.slick-dots > li > button {
  text-indent: -99999px;
  width: 10px;
  height: 10px;
  border-radius: 360px;
  background: none;
  border: 1px solid #375098;
  cursor: pointer;
}
.slick-dots > .slick-active > button {
  background: #375098;
}

.services__header {
  display: grid;
  grid-template-columns: 1fr;
}
.services__header > hgroup {
  justify-self: center;
  align-self: center;
  text-align: center;
}
.services h1 {
  font-size: 6em;
  color: #375098;
}
.services h2 {
  opacity: .4;
  font-size: 2em;
}
.services ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5%;
  list-style: none;
  margin-top: 100px;
}
.services ul > li {
  text-align: center;
}
.services ul > li > h3 {
  color: #375098;
  font-size: 2.7em;
  font-weight: bold;
  margin-top: 20px;
}
.services ul > li > img {
  max-width: 50px;
}
.services ul > li > p {
  font-size: 1.3em;
  line-height: 1.6;
  margin: 20px 0;
  opacity: .5;
}
.services ul > li > a {
  font-size: 1.6em;
  position: relative;
  color: #375098;
  padding-right: 25px;
  border-bottom: 1px solid transparent;
}
.services ul > li > a:hover {
  border-bottom: 1px solid #375098;
}
.services ul > li > a > i {
  position: absolute;
  top: 3px;
  right: 0;
}

.offer {
  padding: 100px;
  text-align: center;
  color: #ffffff;
}
.offer > h2 {
  font-size: 5em;
  line-height: 50px;
}
.offer > p {
  font-size: 1.4em;
}

.form__input {
  position: relative;
  max-width: 40%;
  margin: 0 auto;
}
.form input {
  border: 0;
  font-size: 1.8em;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  font-family: 'Nunito', sans-serif;
}
.form input[type="email"] {
  display: block;
  width: 100%;
  margin: 55px 0;
  padding: 30px;
}
.form input[type="submit"] {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: #009975;
  height: 50px;
  padding: 0 25px;
  top: 15px;
  right: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: all .2s ease;
}
.form input[type="submit"]:hover {
  background: #3e5aab;
}

.blog__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog__header > hgroup {
  justify-self: center;
}
.blog__header > a {
  align-self: flex-end;
  justify-self: center;
}
.blog h1 {
  font-size: 5em;
  color: #375098;
}
.blog h2 {
  opacity: .4;
  font-size: 2em;
}
.blog p {
  font-size: 2em;
}
.blog ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  list-style: none;
  margin: 50px 0;
}
.blog ul > li {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.blog ul > li > figure > img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  display: block;
  margin: 0;
}
.blog ul > li > p {
  padding: 50px;
  font-size: 1.6em;
  color: #adadaa;
}
.blog ul > li > p > a {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  color: #375098;
  padding-right: 25px;
  border-bottom: 1px solid transparent;
}
.blog ul > li > p > a:hover {
  border-bottom: 1px solid #375098;
}
.blog ul > li > p > a > i {
  position: absolute;
  top: 3px;
  right: 0;
}
.blog__single {
  margin: 50px 0;
}
.blog__single ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  list-style-type: none;
  margin-bottom: 50px;
}
.blog__single ul > li > a {
  position: relative;
  display: block;
}
.blog__single ul > li > a > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.blog__single ul > li > a > h1 {
  color: #474744;
  font-size: 2em;
  line-height: 1.2;
  margin-top: 10px;
}
.blog__single article p {
  font-size: 2.2em;
  font-family: 'Frank Ruhl Libre', serif;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: left;
}
.blog__single article p + p {
  margin-bottom: 20px;
}

.instagram__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.instagram__header > hgroup {
  justify-self: center;
}
.instagram__header > a {
  align-self: flex-end;
  justify-self: center;
}
.instagram h1 {
  font-size: 5em;
  color: #375098;
}
.instagram h2 {
  opacity: .4;
  font-size: 2em;
}
.instagram p {
  font-size: 1.4em;
  margin: 20px 0;
}
.instagram > ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin-top: 50px;
}
.instagram > ul li {
  border: 1px solid transparent;
}
.instagram > ul li img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.footer {
  background: #375098;
  text-align: center;
  padding: 50px 0;
  margin-top: -5px;
}
.footer > img {
  max-width: 300px;
}
.footer > hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  margin: 50px 0;
}
.footer > p {
  font-size: 1em;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer > ul {
  margin-top: 50px;
}
.footer > ul > li > a {
  color: #ffffff;
}

.header__page {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 25% 50% 25%;
}
.header__page--photo {
  grid-column: 1 / span 3;
  min-height: 700px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.header__page--photo-breadcrumb {
  grid-column: 2;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: #ffffff;
}
.header__page--photo-breadcrumb h1 {
  font-size: 10em;
  line-height: 90px;
}
.header__page--photo-breadcrumb p {
  margin-top: 30px;
  font-size: 2em;
}
.header__page--photo-breadcrumb p > a {
  color: #ffffff;
}
.header__page--photo-title {
  grid-column: 2;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.header__page--photo-title > h1 {
  color: #ffffff;
  font-size: 5em;
}
.header__page--photo-title > div {
  margin-top: 20px;
  font-size: 2em;
  color: #ffffff;
}
.header__page--photo-title > div > a {
  color: #ffffff;
}
.header__page--video {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.2);
  grid-column: 2;
  margin-top: -150px;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 4;
  height: 800px;
}
.header__page--video > span {
  grid-column: 2;
  align-self: center;
  justify-self: center;
  width: 110px;
  height: 110px;
  border-radius: 100em;
  background: #375098;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  cursor: pointer;
}
.header__page--blog {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.2);
  grid-column: 2;
  margin-top: -150px;
  align-self: flex-start;
  z-index: 4;
  height: 800px;
}
.header__page--blog > a {
  display: block;
  position: relative;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
.header__page--blog > a:before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6460959384) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
}
.header__page--blog > a > div {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 4;
  border-radius: 8px;
  padding: 50px;
}
.header__page--blog > a > div > h1 {
  font-size: 4em;
}
.header__page--blog > a > div > p {
  font-size: 2em;
}
.header__page--blog > a > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.blog__tag {
  background: #009975;
  display: inline-block;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  letter-spacing: 2px;
  padding: 5px 15px;
  left: 20px;
  top: 20px;
  position: absolute;
  color: #ffffff;
}

.mobile {
  display: none;
}

/*# sourceMappingURL=main.css.map */
